@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
       url('/__/vendor/MaterialIcons.ttf') format('truetype');
}
.md-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
.md-icons-lg {
  font-size: 1.5rem;
}
* {
  margin: 0;
  padding: 0;
}
.pull-right {
  float: right;
}
html {
  font-size: 16px;
}
body {
  font-family: "Trebuchet MS";
  color: #424242;
  background: #EEEEEE;
}
.field {
  margin: .75rem;
}
.field input {
  width: 100%;
  padding: .5rem;
  border: 1px solid #ccc;
  border-radius: 1px;
  outline: none;
  transition: .5s;
}
.field input:hover {
  border-color: #aaa;
}
.field input:focus {
  border-color: #666;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.btn {
  cursor: pointer;
  transition: .3s;
  user-select: none;
}
.btn.btn-f00:hover {
  color: #900;
}
.btn.btn-0f0:hover {
  color: #360;
}
.btn.btn-lg {
  display: block;
  padding: .8rem;
  text-align: center;
  background: rgba(255,255,255,.5);
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}
.btn.btn-lg:hover {
  background: #fff;
  box-shadow: 0 0 3px rgba(0,0,0,.6);
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: .5s;
  z-index: 100;
}
.modal .wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  overflow: hidden;
  box-shadow: 0 0 .5em 2px rgba(0, 0, 0, 0.2);
  transition: .3s;
  z-index: 200;
}
.modal .wrapper .header {
  color: #FFF176;
  background: #424242;
}
.modal .wrapper .content {
  background: #EEEEEE;
}
.modal .wrapper .footer {
  background: #EEEEEE;
}
.text-halt {
  margin: .75rem;
  color: #B71C1C;
}
.alert {
  color: #fff;
}
.alert .close {
  color: #fff;
}
.alert-halt {
  background: #E53935;
}
.alert-warn {
  background: #FFB300;
}
.alert-done {
  background: #43A047;
}
.modal .wrapper {
  width: 36rem;
}
.modal .header {
  display: flex;
  padding: .75rem;
  font-size: 1.2rem;
}
.modal .header .title {
  flex: 1;
}
.modal .header .right {
  flex: 2rem 0;
  text-align: right;
}
.modal .header .right a {
  cursor: pointer;
}
.modal .content {
  padding: 1px 0;
}
.modal .footer .btn-lg {
  padding: .6rem;
}
html, body, div#app, div#app > .wrapper {
  height: 100%;
  overflow: hidden;
}
div#app > .wrapper {
  display: flex;
  flex-direction: column;
}
header {
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 0 .75rem;
  color: #FFF176;
  background: #424242;
  box-shadow: 0 1px 2px #BDBDBD;
}
header > div {
  flex: 1;
}
header .logo {
  font-size: 1.5rem;
  text-align: left;
}
header .mode {
  display: flex;
  justify-content: flex-end;
  user-select: none;
}
header .mode > div {
  padding: .5rem 1rem;
  border: 1px solid #FFF176;
  cursor: pointer;
  transition: .3s;
}
header .mode > div:hover {
  background: #616161;
}
header .mode > div.active {
  color: #424242;
  background: #FFF176;
}
.holder {
  flex: 1;
  overflow: auto;
}
.holder::-webkit-scrollbar {
  width: .7rem;
  height: .7rem;
  background: #BDBDBD;
}
.holder::-webkit-scrollbar-thumb {
  border: 3px solid #BDBDBD;
  border-right-width: 2px;
  border-radius: 4px;
  background: #616161;
}
footer {}
.alert {
  position: relative;
  margin: .5rem;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
}
.alert > .wrapper {
  padding: 1rem;
}
.alert > .close {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  display: block;
  padding: 1rem;
  line-height: 1rem;
  cursor: pointer;
}

.cwdir {
  font-size: 1.2rem;
  padding: .75rem;
  font-weight: bold;
}

.panel .title {
  padding: .75rem;
}

.file-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 .75rem;
  list-style-type: none;
}

.file-list .file-item {
  display: block;
  box-sizing: border-box;
  width: 25%;
  min-width: 16rem;
  color: #424242;
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 0 1px rgba(0,0,0,.3);
  transition: .2s;
  transition-property: background, box-shadow;
}

.file-list .file-item a {
  display: block;
  padding: 1rem;
  cursor: pointer;
}

.file-list .file-item:hover {
  color: #FFF176;
  background: #424242;
}

.file-more {
  display: flex;
  margin: .75rem;
  position: relative;
}

.file-more > a {
  flex: 1;
  margin-right: .75rem
}

.file-more > a:last-of-type {
  margin-right: 0;
}

.modal-file-info .content {
  display: flex;
  flex-direction: row;
  padding: .75rem;
}

.modal-file-info .content .qrcode {
  flex: 0;
}

.modal-file-info .content .detail {
  flex: 1;
  margin-left: .75rem;
}

.modal-file-info .content .detail * {
  word-wrap: break-word;
  word-break: break-all;
}

.modal-file-info .content .detail a {
  display: block;
  margin-top: 1rem;
  color: #424242;
  text-decoration: none;
  cursor: pointer;
  transition: .3s
}

.modal-file-info .content .detail a:hover {
  color: #F9A825;
}
