@import "../theme.scss";
@import "../frame.scss";

.cwdir {
  font-size: 1.2rem;
  padding: .75rem;
  font-weight: bold;
}

.panel {
  .title {
    padding: .75rem;
  }
}

.file-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 .75rem;
  list-style-type: none;

  .file-item {
    display: block;
    box-sizing: border-box;
    width: 25%;
    min-width: 16rem;
    color: #424242;
    background: #fff;
    border-radius: 1px;
    box-shadow: 0 0 1px rgba(0,0,0,.3);
    transition: .2s;
    transition-property: background, box-shadow;

    &:hover {
      color: #FFF176;
      background: #424242;
    }

    a {
      display: block;
      padding: 1rem;
      cursor: pointer;
    }
  }
}

.file-more {
  display: flex;
  margin: .75rem;
  position: relative;

  > a {
    flex: 1;
    margin-right: .75rem;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.modal-file-info {
  .content {
    display: flex;
    flex-direction: row;
    padding: .75rem;

    .qrcode {
      flex: 0;
    }

    .detail {
      flex: 1;
      margin-left: .75rem;

      * {
        word-wrap: break-word;
        word-break: break-all;
      }

      a {
        display: block;
        margin-top: 1rem;
        color: #424242;
        text-decoration: none;
        cursor: pointer;
        transition: .3s;

        &:hover {
          color: #F9A825;
        }
      }
    }
  }
}
