* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  color: #FFF176;
  background: #424242;
  font-family: "Trebuchet MS";
  user-select: none;
}

a {
  color: #FFF176;
  text-decoration: none;
  cursor: pointer;
  transition: .5s
}

a:hover {
  color: #F9A825;
}

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  flex: 1;
  text-align: center;
}

.header a {
  display: block;
}

.header .myself {
  font-size: 8vw;
}

.header .github {
  font-size: 2vw;
  margin: 1em;
}
