.button {
  display: inline-block;
  padding: .4rem .5rem;
  border-radius: 3px;
  transition: .2s ease-in-out;
}

.button-group {
  > .button {
    border-radius: 0;

    &:first-of-type {
      border-radius: 3px 0 0 3px;
    }

    &:last-of-type {
      border-radius: 0 3px 3px 0;
    }
  }
}