.input {
  display: flex;
  flex-direction: column;

  label {
    display: block;
    color: #666;
  }

  input {
    display: block;
    margin: .3rem 0;
    padding: .5rem;
    border-radius: 1px;
    border: 1px solid #666;
    outline: none;
    transition: .2s ease-in-out;
  }

  p.error {
    font-size: .9rem;
    color: red;
  }
}