@import "../theme.scss";
@import "../frame.scss";

.info {
  margin: .5rem .75rem;
}

.file-list {
  .file-item {
    display: flex;
    margin: .5rem .75rem;
    color: #424242;
    background: #fff;
    border-radius: 1px;
    box-shadow: 0 0 1px rgba(0,0,0,.3);
    transition: .2s;
    transition-property: background, box-shadow;

    &:hover {
      color: #FFF176;
      background: #424242;
    }

    .record {
      flex: 1;
      padding: .5rem;

      .item-path {
        margin-right: 3rem;
      }

      .item-link {
        color: #aaa;
      }
    }

    .action {
      flex: 8rem 0;
      text-align: right;

      a {
        display: inline-block;
        font-size: 1.3rem;
        padding: .5rem;

        &:hover {
          color: #EF5350;
        }
      }
    }
  }
}

.file-more {
  display: flex;
  margin: .75rem;
  position: relative;

  > a {
    flex: 1;
    font-size: 1.3rem;
    margin-right: .75rem;

    &:last-of-type {
      margin-right: 0;
    }

    i {
      margin-right: .5rem;
      vertical-align: middle;
    }
  }
}

.modal-link-file {
  input {
    font-size: 1.1rem;
    width: calc(100% - 1rem - 4px);
    padding: .5rem;
    border: 1px solid #ddd;
    transition: .2s;
    
    &:hover {
      border-color: #666;
    }

    &:focus {
      outline: none;
      border-color: #333;
    }
  }
}

.modal-file-info {
  .content {
    display: flex;
    flex-direction: row;
    padding: .75rem;

    .qrcode {
      flex: 0;
    }

    .detail {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-left: .75rem;

      * {
        word-wrap: break-word;
        word-break: break-all;
      }

      .detail-action {
        flex: 1;

        p {
          i {
            font-size: .8rem;
            color: #aaa;
            margin-bottom: .5rem;
          }

          margin: .75rem 0;
        }
      }

      .detail-footer {
        color: #888;
        text-align: right;
      }

      a {
        display: block;
        color: #424242;
        text-decoration: none;
        cursor: pointer;
        transition: .3s;

        &:hover {
          color: #F9A825;
        }
      }
    }
  }
}

.alert-hub {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
}
