.modal {
  .wrapper {
    width: 36rem;
  }

  .header {
    display: flex;
    padding: .75rem;
    font-size: 1.2rem;

    .title {
      flex: 1;
    }

    .right {
      flex: 2rem 0;
      text-align: right;

      a {
        cursor: pointer;
      }
    }
  }

  .content {
    padding: 1px 0;
  }

  .footer {
    .btn-lg {
      padding: .6rem;
    }
  }
}

html, body, div#app, div#app > .wrapper {
  height: 100%;
  overflow: hidden;
}

div#app > .wrapper {
  display: flex;
  flex-direction: column;
}

header {
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 0 .75rem;
  color: #FFF176;
  background: #424242;
  box-shadow: 0 1px 2px #BDBDBD;

  > div {
    flex: 1;
  }

  .logo {
    font-size: 1.5rem;
    text-align: left;
  }

  .mode {
    display: flex;
    justify-content: flex-end;
    user-select: none;

    > div {
      padding: .5rem 1rem;
      border: 1px solid #FFF176;
      cursor: pointer;
      transition: .3s;

      &:hover {
        background: #616161;
      }

      &.active {
        color: #424242;
        background: #FFF176;
      }
    }
  }
}

.holder {
  flex: 1;
  overflow: auto;

  &::-webkit-scrollbar {
    width: .7rem;
    height: .7rem;
    background: #BDBDBD;
  }

  &::-webkit-scrollbar-thumb {
    border: 3px solid #BDBDBD;
    border-right-width: 2px;
    border-radius: 4px;
    background: #616161;
  }
}

footer {
}
