.modal {
  .wrapper {
    width: 36rem;
  }

  .header {
    display: flex;
    padding: .75rem;
    font-size: 1.2rem;

    .title {
      flex: 1;
    }

    .right {
      flex: 2rem 0;
      text-align: right;

      a {
        cursor: pointer;
      }
    }
  }

  .content {
    padding: 1px 0;
  }

  .footer {
    .btn-lg {
      padding: .6rem;
    }
  }
}
