* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  color: #FFF176;
  background: #424242;
  font-family: "Trebuchet MS";
  user-select: none;
}

a {
  color: #FFF176;
  text-decoration: none;
  cursor: pointer;
  transition: .5s;

  &:hover {
    color: #F9A825;
  }
}

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  flex: 1;
  text-align: center;

  a {
    display: block;
  }

  .myself {
    font-size: 8vw;
  }

  .github {
    font-size: 2vw;
    margin: 1em;
  }
}
